/bin/
/hs_err_pid24552.log
/hs_err_pid2144.log
/hs_err_pid10952.log
/hs_err_pid13788.log
/hs_err_pid14836.log
/hs_err_pid16164.log
/hs_err_pid17548.log
/hs_err_pid19892.log
/hs_err_pid21740.log
/sqlite-jdbc-3.41.2.1.jar
